<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamecodeschool.pathbuffs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/PathBuffs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.add_profile" />
        <activity android:name=".Activities.start_up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.BuffTrackingActivity" />
        <activity android:name=".Activities.allFeats" />
        <activity android:name=".Activities.Character" />
        <activity android:name=".Activities.spellLists"></activity>
    </application>

</manifest>